@media (max-width: 580px) {
    #page-room .content {
        flex-direction: column;

        > img {
            margin-bottom: 1.3rem;
        }

    }
}

@media (max-width: 445px) {

    #page-room header .content >div .close-room {
        font-size: 0.7rem;
    }

    #page-room header .content span {
        font-size: 0.8rem;
    }

}


@media (max-width: 430px) {

    #page-room header .content {
        button {
            width: 80vw;

            span {
                font-size: 0.73rem;
            }

        }
    }

    #page-room header .content >div { 
        flex-direction: column;
    }

    #page-room {
        width: 98vw;
    }
    
    #page-room h1 {        
        font-size: 0.1rem;
        width: 50vw;
        text-align: center;
    }

    #page-room {

        button {
            font-size: 0.875rem;
        }

    }

}

@media (max-width: 390px) { 

    #page-room header .content >div { 
        flex-direction: column;
    }   

    #page-room main form .form-footer .user-info span {
        font-size: 0.75rem;
    }

    #page-room {

        button {
            font-size: 0.75rem;
        }

    }

    #page-room .question {
        
        footer >div {
            gap: 0.3rem;
        }

        button {
            scale: 0.8;
        }

        span {
            font-size: 0.75rem;
        }

    }

}


@media (max-width: 345px) { 

    #page-room header .content {

        width: 85vw;

        > img {
            max-height: 2rem;
        }
    }

    #page-room .question p {
        font-size: 0.75rem;
    }

    #page-room .question span {
        font-size: 0.6rem;
    }

    #page-room .question footer >div {
        gap: 0.1rem;
    }

    #page-room .question button {
        scale: 0.7;
    }

    #page-room main .room-title {
        h1 {
            font-size: 1.1rem;
        }

        span {
            font-size: 0.75rem;
        }
    }

    #page-room main form .form-footer {

        flex-direction: column;

        .user-info {
            margin-bottom: 1.3rem;
        }

    }

}

@media (max-width: 300px) { 

    #page-room main .room-title span {
        font-size: 0.6rem;
    }

    #page-room header .content {

        width: 50vw;

        > img {
            max-height: 2rem;
        }

        button {
            width: 80vw;
            height: 2rem;

            span {
                font-size: 0.6rem;
            }

        }

    }


    #page-room .question p {
        font-size: 0.65rem;
    }

    #page-room .question span {
        font-size: 0.65rem;
    }

    #page-room .user-info span {
        margin-left: 0;
    }
}