.question {
    background-color: #fefefe;
    
    border-radius: 0.5rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);

    padding: 1.5rem;

    & + .question {
        margin-top: .5rem;
    }


    p {
        color: var(--text-color);
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 1.5rem;

        .user-info {
            display: flex;
            align-items: center;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            span {
                margin-left: 8px;
                color: var(--create-room-link-text-color);
                font-size: 14px;
            }

        }

    }


}